* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: ;
}

#navHome {
	background-color: rgba(128, 128, 128, 0.3) !important;
	z-index: 2;
}

body {
	background-image: url(../images/thomas-millot-0bBi5rjwS_s-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

#headerHome {
	color: #eae0c8;
	opacity:;
	z-index: 2;
}

.headerAbout {
	color: #fffaf0;
	opacity:;
}

#footerHome {
	background-color: #484f4f !important;
	background: transparent !important;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
 	.header1 {
    font-size: 100px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .header1 {
    font-size: 60px;
  }
}

#carouselHome {
	width: 50%;
	margin: auto;

}

@media screen and (max-width: 768px) {
  #carouselHome {
    width: 80%;
	margin: auto;
  }
}

#carouselAbout {
	width: 100%;
	margin: auto;

}

#cardBodyAbout {
	background-color: ;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

#aboutDesc {
	background-color: rgba(46, 49, 49, 0.7);
	border-radius: 15px;
	padding: 15px;
}

#iframe-container {
	border-radius: 15px;
    position: relative;
    width: 100%;
    padding-bottom: 36.25%; 
    height: 0;
}
#iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#aboutCarousel {
	border-radius: 15px;
	background-color: ;
}

.headingH2 {
	color: white;
	background-color:;
}

#loginButton {
	border-radius: 20px;
}

.headingsSpan {
	background-color: rgba(46, 49, 49, 0.3) !important;
	border-radius: 10px !important;
}

#brandLogo {
	font-size: 30px;
	color: white;
	font-family: 'Metal Mania';
	background-color: #555;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.courseCardFooter {
	background-color: rgba(46, 49, 49, 0.5) !important;
}

.coursesHeader {
	background-color: rgba(0, 0, 0, 0) !important;
}

.cardBodyBg {
	background-image: url(../images/william-daigneault-Cd84YdL9px8-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

#leaveReview {
    resize: none;
}

.loginContent {
	padding-bottom: 50%;
}

.registerCont {
	padding-bottom: 20%;
}

#courseBg {
	background-image: url(../images/c-d-x-PDX_a_82obo-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.cardBord {
	border: none;
}

.floatCard {
	background-color: rgba(46, 49, 49, .9);
}

.editCoursePadding {
	padding-bottom: 35%;
}

.profileBg {
	background-image: url(../images/kupono-kuwamura-LzgK6IMoSZM-unsplash.jpg);
	background-repeat: no-repeat;
	background-attachment:;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.companyTitle {
	color: #eae0c8;
}

.companyInfo {
	color: #fffaf0;
}

/* animations --------------------------------------------------------------------------------------

/*Profile Card 5*/
.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color: #eae0c8;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
    color: #fffaf0;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}


.section {
  position: ;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.7;
}*/

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: grey;
  width: 100%;
  height: 100vh;
  opacity: .5;
  z-index: 1;
}